.fancy-button{'data-popup' => '#hidden-popup.add_form_download', rel: "data-popup"} Add New
- if current_user.present?
  - if params[:t] == "source_code"
    = partial 'download/source_code'
  - else
    %h2= params[:t].capitalize
    %ul
      - @download_links.each_with_index do |l, i|
        %li               
          %a{href: l.link, target: "_blank"}= "#{i + 1}. #{l.label}" 
        .clear
  .clear
  - if current_user.is_admin?
    #hidden-popup.add_form_download
      = partial 'download/form_add_download_link'