- if current_user.present?
  %h2 Conversations
  #message-box
    .wrapper
      - @messages.each do |msg|
        / .message{id: "message_#{msg.id}", class: msg.user.is_admin? ? "admin" : ""}
        - puts "------------message id:#{msg.user_id}, message user: #{msg.user}"
        .message{id: "message_#{msg.id}"}
          .user= "#{msg.user.try(:username)} :"
          .content= msg.message
          .date= msg.created_at.strftime("%d %b, %H:%M")
          .clear
  #message-form
    %input{class: "message", maxlength: "85"}
    %input{type: "submit", value: "kirim", class: 'send-message'}
  :javascript
    $('#message-box').animate({ scrollTop: $('#message-box')[0].scrollHeight}, 800);
.clear
